<main>
  <video autoplay muted loop class="background-video">
    <source src="../../assets/video/background4.mp4" type="video/mp4" />
  </video>

  <ion-card class="centrata-card elemento-traslucido">
    <ion-col size-md="9" size="12" class="welcome">
      <ion-card-header class="titolo">
        <ion-title class="titolo titolo-store">
          <ion-icon class="logo-store" name="logo-dropbox"></ion-icon>
          Data Room
        </ion-title>
      </ion-card-header>
      <ion-card-content style="padding-top: 40px">
        <div class="centro-elementi trasparente">
          <ion-icon
            name="home"
            class="fz-25"
            style="padding-right: 1.5rem; color: black"
          ></ion-icon>
          <ion-input
            class="trasparente custom-input"
            placeholder="Esercente"
            type="text"
            [(ngModel)]="body_login.shopkeeper"
          ></ion-input>
        </div>

        <div class="centro-elementi trasparente">
          <ion-icon
            name="person"
            class="fz-25"
            style="padding-right: 1.5rem; color: black"
          ></ion-icon>
          <ion-input
            class="trasparente custom-input"
            placeholder="Email"
            type="email"
            [(ngModel)]="body_login.email"
          ></ion-input>
        </div>
        <div class="centro-elementi trasparente">
          <ion-icon
            class="fz-25"
            name="lock-closed"
            style="padding-right: 1.5rem; color: black"
          ></ion-icon>
          <ion-input
            class="trasparente custom-input"
            placeholder="Password"
            type="password"
            [(ngModel)]="body_login.password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle
          ></ion-input>
        </div>

        <div class="centro-elementi trasparente">
          <ion-toggle
            color="primary"
            style="color: rgb(0, 98, 255); font-size: 1.2rem"
            class="custom-label icon centro-elementi"
            [(ngModel)]="this.remember_me"
            >Ricordami</ion-toggle
          >
        </div>
        <ion-button
          style="margin-top: 2rem"
          class="centro-elementi"
          (click)="confirmLogin()"
          shape="round"
          color="primary"
          id="login-button"
          [disabled]="!body_login.shopkeeper || !body_login.email || !body_login.password"
        >
          Log in
        </ion-button>
        <!-- <ion-alert
          *ngIf="this.token_JWT_success===false"
          trigger="login-button"
          header="Dati Immessi errati"
          message="Reinserire i dati correttamente"
          [buttons]="alertButtons"
        ></ion-alert> -->
      </ion-card-content>
    </ion-col>
  </ion-card>
</main>
