.sidebar {
  will-change: auto;
}

.datetime-title {
  margin-top: 30px;
  text-align: center;
  font-size: 4vw;
}

.testo-form-autori {
  margin-left: 11px;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.div-svg-input:hover .icone-autori-edit {
  display: block;
  position: absolute;
  margin-bottom: 20px;
  top: 330px;
  right: 0px;
  width: 35px;
  height: 20px;
}

.icone-autori-edit {
  display: none;
  position: absolute;
  margin-top: -50px;
}

.icone-autori {
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

.datetime-item {
  padding-left: 15%;
  padding-right: 15%;
  min-width: 300px;
  margin: 0;
  position: absolute;
  top: 20%;
}

