.oggetto-anteprima {
  border-radius: 104px 104px 104px 104px;
  -webkit-border-radius: 104px 104px 104px 104px;
  -moz-border-radius: 104px 104px 104px 104px;
}

.bottone-update {
  padding-right: 3%;
}

.label-autori {
  font-weight: bold;
  min-width: 7rem;
  letter-spacing: 1px;
  font-size: small;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 1rem;
}

.spacing-right {
  //margin-right: 2rem !important;
  min-width: 6.5rem;
  font-size-adjust: 0.45;
}

.icone-autori {
  width: 20px;
  height: 20px;
}

.input-form {
  margin-left: 11px;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.div-svg-input:hover .icone-autori-edit {
  display: block;
  position: absolute;
  margin-bottom: 20px;
  top: 330px;
  right: 0px;
  width: 35px;
  height: 20px;
}

.icone-autori-edit {
  display: none;
  position: absolute;
  margin-top: -50px;
}

.accordion-oggetto {
  padding-right: 10px;
  padding-left: 10px;
}

.cartellino-nome {
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  min-width: 7rem;
}

.toast-elemento {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: larger;
}

.input-form-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 569px) {
  .accordion-oggetto {
    width: 75vw;
    white-space: nowrap;
  }
}

.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-elimina-elemento {
  min-height: 40vh;
  display: grid;
  margin-bottom: 33%;
  font-size: larger;
  padding-top: 3rem;
  padding-bottom: 3dvb;
}

.titolo-elimina-elemento {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: Georgia, serif;
  font-size: 20px;
}

.estetica-data {
  color: rgb(71, 71, 71);
  margin-top: 20px;
  margin-bottom: 20px;
}
.titolo-categoria {
  margin-top: 40px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 2%;
  font-family: Georgia, serif;
  font-size: 28px;
  letter-spacing: 3.5px;
  word-spacing: -0.8px;
  color: #000000;
  font-weight: 400;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  text-transform: capitalize;
}

.titolo-categoria-singola {
  margin-top: 80px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 2%;
  font-family: Georgia, serif;
  font-size: 28px;
  letter-spacing: 3.5px;
  word-spacing: -0.8px;
  color: #000000;
  font-weight: 400;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  text-transform: capitalize;
}

.margine-top50 {
  margin-top: -50px;
}

.testo-elimina-elemento {
  margin-left: 2rem;
  margin-right: 2rem;
}

.icona-freccia-anteprima {
  margin-right: 0.8rem;
  min-width: 1rem;
  font-size: inherit;
}

.margine-iniziale {
  margin-top: 1rem;
}

.label-anno-di-pubblicazione {
  margin-left: 4rem;
  margin-bottom: 0rem;
  font-size: smaller;
}

.min-width-bottone-aggiungi{
  min-width: 15rem;
}