ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

ion-item .date {
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  color: #c9c9ca;
}

ion-item ion-note {
  font-size: 0.9375rem;
  margin-right: 8px;
  font-weight: normal;
}

ion-item ion-note.md {
  margin-right: 14px;
}


ion-footer ion-title {
  font-size: 12px;
  font-weight: normal;
}
ion-card {
  width: 16vw;
  ion-card-content {
    width: 100%;
  }
}

ion-item {
  width: 100%;
}
ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;
  --color: #ddd;
  --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
  width: 10px;
  height: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}

.titolo-oggetto {
  color: #ffffff;
  float: left;
  font-size-adjust: 0.5;
  margin-right: 2%;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.dimensioni-oggetto {
  min-width: 200px;
  min-width: 300px;
}

.logo-disponibilita-oggetto {
  width: 20px;
  height: 20px;
}

.immagine-copertina {
  width: 220px;
  height: 220px;
  max-width: 100%; max-height: 100%; border-radius: 10px;
}

.grandezza-blocco-immagine{max-width: 40rem; margin-left: 4rem; margin-top: 1rem}

.modale-modifica-oggetto {
  font-weight: bolder;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.titoli-modale {
  margin-right: 2rem;
  width: 6rem;
}

.titoli-modale-custom {
  width: 6rem;
}

.button-container-icon {
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
}

.icone-aggiungi-oggetto-modified {
  width: 30px;
  height: 30px;
}
.icone-aggiungi-oggetto {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.icona-esterna {
  width: 40px !important ;
  height: 40px !important;
}

.vertical-align-container {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items vertically */
  height: 100vh; /* Full height of the viewport */
  text-align: center; /* Center text horizontally */
  width: 100%; /* Adjusts to full width of the toolbar */
  padding: 10px; /* Adds some padding for better appearance */
  box-sizing: border-box; /* Ensures padding is included in the width */
}
.input-form {
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5%;
  margin-left: 11px;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.div-svg-input:hover .icone-autori-edit {
  display: block;
  position: absolute;
  margin-bottom: 20px;
  top: 330px;
  right: 0px;
  width: 35px;
  height: 20px;
}

.icone-autori-edit {
  display: none;
  position: absolute;
  margin-top: -50px;
}

.icone-autori {
  width: 15px;
  height: 15px;
  margin-bottom: -4px;
}


@media (min-width: 801px) {
  .fullscreen {
    --width: 40vw !important;
    --height: 90vh !important;
    }
}

@media (max-width: 800px) {
  .fullscreen {
    --width: 90vw !important;
    --height: 90vh !important;  }
}

.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}


.titolo-elimina-elemento {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-elimina-elemento {
  min-height: 40vh;
  display: grid;
  font-size: larger;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 95%;
}

.toast-elemento {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: larger;
}