<ion-item
  *ngIf="message"
  style="font-size: small"
  (click)="navigateToDetails(message.objectID)"
>
  <ion-grid>
    <ion-row>
      <ion-card
        style="border-radius: 8px"
        color="primary"
        class="dimensioni-oggetto"
      >
        <ion-card-header>
          <ion-text class="titolo-oggetto" style="min-height: 2rem">
            {{ message.title ? message.title : "Titolo Non disponibile " }}
          </ion-text>

          <ion-card-subtitle
            class="titolo-oggetto"
            style="color: palegoldenrod; min-height: 2rem"
          >
            {{ message.genere ? message.genere : "Genere Non disponibile " }}
          </ion-card-subtitle>

          <ion-card-subtitle class="titolo-oggetto" style="color: palegoldenrod"
            >{{ message.avaiable ? "Disponibile " : "Non disponibile " }}
            <img
              src="{{
                message.avaiable
                  ? '/assets/icon/correct.png'
                  : '/assets/icon/not_correct.png'
              }}"
              class="logo-disponibilita-oggetto"
            />
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content
          class="ion-justify-content-center ion-align-items-center"
          style="display: flex"
        >
          <img
            src="{{ message.cover }}"
            alt="test image"
            class="immagine-copertina"
            style="max-width: 100%; max-height: 100%; border-radius: 15px "
          />
        </ion-card-content>
        <div style="margin-top: 2rem"></div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-item>
