.oggetto-anteprima {
  border-radius: 104px 104px 104px 104px;
  -webkit-border-radius: 104px 104px 104px 104px;
  -moz-border-radius: 104px 104px 104px 104px;
}

.bottone-update {
  padding-right: 3%;
}

.testo-conferma-elimina {
  margin-bottom: 50%;
  font-family: serif;
}

.label-autori {
  font-weight: bold;
  padding-bottom: 2%;
}



.icone-autori {
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

.input-form {
  margin-left: 11px;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.div-svg-input:hover .icone-autori-edit {
  display: block;
  position: absolute;
  margin-bottom: 20px;
  top: 330px;
  right: 0px;
  width: 35px;
  height: 20px;
}

.icone-autori-edit {
  display: none;
  position: absolute;
  margin-top: -50px;
}

.accordion-oggetto {
  padding-right: 10px;
  padding-left: 10px;

}

.cartellino-nome {
  letter-spacing:1px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.toast-elemento-eliminato {
  max-width: 250px;
  margin-left: 40%;
  margin-right: 40%;
}
