ion-range {
  padding-left: 1px;
  padding-right: 1px;
}

ion-popover ion-content {
  --background: rgba(40, 173, 218, 0.6);
}

ion-popover::part(backdrop) {
  background-color: rgb(6, 14, 106);
}

ion-radio {
  --border-radius: 2px;
  --inner-border-radius: 2px;

  --color: #ddd;
  --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
  width: 10px;
  height: 10px;

  border: 2px solid #ddd;
  border-radius: 2px;
}

.ion-popover-left {
  &::part(content) {
    width: 80%;
    height: 110%;
    position: center;
    padding: 20px;
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
  }
}
.bg-style {
  background: red;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}

.bottoniGestionale {
  flex-direction: column;
}

.bottoniGestionale ion-button {
  width: 100%;
}
/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

ion-content {
  --overflow: auto;
  overflow: auto;
  //min-height: 1100px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }

  &::-webkit-scrollbar-track:hover {
    background: #35d703;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(75, 75, 75);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #94173a;
  }

  .inner-scroll {
    scrollbar-width: thin;
  }
}

.titolo-store {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 40px;
  letter-spacing: 1.4px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.logo-store {
  color: rgb(255, 132, 0);
  text-align: left;
  justify-content: flex-end;
}
.bottone-accedi {
  margin-right: 1%;
  max-width: 250px;
  flex: 1;
  width: 120%;
  margin: 0 auto;
  display: block;
}

.ng-template-custom {
  height: 290px;
  border-radius: 100px;
}

.ionic-title-custom {
  width: 100%;
  text-align: center;
}

.ionic-text-custom {
  margin-top: 5%;
  font-size: 15px;
}

.credenziali-login {
  font-size: 22px;
}

.credenziali-dimenticate {
  color: black;
  width: fit-content;
  font-size: smaller;
  padding-top: 5%;
}

.bottone-contatti {
  font-family: serif;
  max-width: 250px;
  font-size: 18px;
  border-radius: 10px;
  background: white;
  max-width: 250px;
  width: 120%;
  margin: 0 auto;
  display: block;
}

.contatti-testo {
  color: #000000;
  border-radius: 20px;
}

ion-button.bottone-accedi {
  background: white;
}

.bottone-credenziali {
  margin-top: 80px; /* Manteniamo il margine superiore di 30px */
  text-align: center; /* Centriamo il testo */
  min-width: 300px; /* Manteniamo la larghezza minima di 300px */
  font-size: 12px; /* Manteniamo la dimensione del carattere a 12px */
  display: block; /* Assicuriamoci che l'elemento sia un blocco per centrare correttamente il testo */
  margin-left: auto; /* Impostiamo il margine sinistro automatico per centrare rispetto al contenitore */
  margin-right: auto; /* Impostiamo il margine destro automatico per centrare rispetto al contenitore */
}

.titolo-filtri-ricerca {
  font-family: Georgia, serif;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin: auto;
  text-align: center;
  margin-top: 3vh;
}

.card-filtri-ricerca {
  padding-left: 2%;
  padding-right: 2%;
}

.searchbar-custom {
  width: 100%;
  font-size: smaller;
  padding-right: 2rem;
}

.label-autori {
  display: ruby;
  margin-right: 20px;
}

.titolo-aggiungi-elemento {
  font-weight: bolder;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.titolo-categoria {
  margin-top: 40px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 2%;
  font-family: Georgia, serif;
  font-size: 28px;
  letter-spacing: 3.5px;
  word-spacing: -0.8px;
  color: #000000;
  font-weight: 400;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  text-transform: capitalize;
}

.titolo-categoria-singola {
  margin-top: 80px;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 2%;
  font-family: Georgia, serif;
  font-size: 28px;
  letter-spacing: 3.5px;
  word-spacing: -0.8px;
  color: #000000;
  font-weight: 400;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  text-transform: capitalize;
}

.titolo-aggiungi-oggetto {
  margin-top: 20px;
}

.carta-elemento {
  min-width: 400px;
  width: 100%;
  text-align: left;
}

.ultimo-elemento {
  margin-bottom: 100px;
}
.sidebar {
  will-change: auto;
}

.background-title-bar {
  background: #0054e9;
}

.titolo-icona {
  font-size: larger;
}

.header-titolo {
  background: #0054e9;
}

.stile-titolo {
  color: rgb(232, 23, 23);
  align-items: center;
}

.header-menu-home {
  margin-bottom: 200px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.centrato {
  text-align: center;
}
.searchbar-menu {
  width: 100%;
}

.label-years {
  padding: 5px;
}

.accordion-gestionale {
  margin-left: 10%;
  margin-right: 10%;
}

.testo-contatti {
  margin-top: 5%;
  font-size: 15px;
  margin-bottom: 5%;
}

.bottone-aggiungi-nuovo-oggetto {
  margin-bottom: 2%;
  width: 30rem;
  padding-left: 5%;
  border-radius: 15%;
  color: #000000;
}

.icona-aggiungi-nuovo-oggetto {
  justify-content: flex-start;
  padding-right: 20px;
}

.toast-nuovo-elemento-aggiunto {
  max-width: 250px;
  margin-left: 40%;
  margin-right: 40%;
}

.testo-input {
  font-size: 15px;
}

.testo-input-edited {
  font-size: 22px;
}

.testo-form {
  padding-top: 3%;
  font-size: 12px;
}

.testo-aggiungi-nuovo {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 21px;
  letter-spacing: 1.4px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 400;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  display: table;
}

.modale-modifica-oggetto {
  font-weight: bolder;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.icone-autori {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.titoli-modale {
  margin-bottom: 15px;
  display: flex;
  margin-top: 15px;
  font-size: 18px;
  margin-left: 20px;
}

.icone-aggiungi-oggetto {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.icone-aggiungi-oggetto-modified {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.input-form {
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5%;
  margin-left: 11px;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.template-angular {
  border-radius: 100px;
}

.center {
  margin: auto;
  width: 20vw;
  padding: 0;
}

.vertical-align-container {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items vertically */
  height: 100vh; /* Full height of the viewport */
  text-align: center; /* Center text horizontally */
  width: 100%; /* Adjusts to full width of the toolbar */
  padding: 10px; /* Adds some padding for better appearance */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.align-right {
  display: flex;
  justify-content: flex-end; /* Allinea il contenuto a destra */
  padding: 10px; /* Aggiunge un po' di spazio attorno all'elemento */
}

.center-button {
  display: inline list-item;
}

.menu-button-custom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-menu-button-custom {
  color: #ffffff;
  margin-right: 8px;
}

.menu-button-icon {
  color: rgb(255, 255, 255);
  margin-right: 40px;
}

.anchor-button {
  width: min-content;
}

.float-right {
  float: right;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.header-md {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.margin-bottom {
  margin-bottom: 40px;
}

.margin-top {
  margin-top: -20px;
}

.filtri-di-ricerca {
  margin-left: 5%;
  margin-bottom: 25px;
}
.lista-selezione {
  margin-bottom: 15px;
  min-width: 300px;
}

.testo-anno-di-pubblicazione {
  display: inline-block;
  margin: 20px auto;
  text-align: center;
}

.numero-anno-di-pubblicazione {
  margin-bottom: -40px;
  padding: 10px;
  position: fixed;
}

.dual-knobs {
  margin-left: 10px;
  margin-right: 10px;
}

.min-width-button {
  min-width: 215px;
}
.bolder {
  font-weight: bold;
}

.label-fine {
  position: fixed;
  margin-top: 17rem; /* Margine per distanziare l'etichetta dal contenuto */
  width: 23rem;
  background: #0054e9;
  margin-left: -1rem;
  padding-left: 3rem;
  bottom: 0;
}

.app-template {
  margin-top: 40px;
  margin-bottom: 350px;
}

.menu-ancora {
  max-width: fit-content;
  margin-top: -1rem;
  margin-left: -21px;
  background-color: #0054e9;
  padding-left: 2rem;
  min-width: 23rem;
}

.colore-bianco {
  color: rgb(255, 255, 255);
}

.margine-categoria {
  margin-bottom: 150px;
}

.icona-aggiungi-elemento {
  justify-content: flex-start;
  margin-right: 1rem;
}
.titolo-aggiungi-elemento2 {
  margin-top: 20px;
  display: table;
}

.ion-range-margin {
  margin-left: 10px;
  margin-right: 10px;
}
.anno-di-pubblicazione {
  display: inline-block;
  margin: 10px auto;
}

.label-anni {
  margin-bottom: -40px;
  position: fixed;
}

.bottone-assistenza {
  padding: 0rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.griglia-store {
  margin-top: 50px;
  border-radius: 15px;
  display: table-row;
  margin-bottom: 100px;
  background: rgb(255, 255, 255);
  margin-left: 1rem;
  margin-right: 1rem;
}

.testo-logout {
  font-size: large;
  margin: auto;
  height: 15vw;
  margin-top: 5vw;
}

.testo-logout-2 {
  font-weight: bolder;
  margin-left: -30px;
  margin-top: 10px;
}

.container-label {
  display: flex;
  justify-content: space-between; /* Spazia gli elementi ai lati opposti */
  align-items: center; /* Allinea verticalmente al centro */
  height: 100px; /* Imposta un'altezza per il contenitore */
}

.spacer-label {
  flex-grow: 5; /* Permette di espandere lo spazio tra gli elementi */
}

.custom-background item-native {
  justify-content: center;
  background: bottom;
}

.label-config-account {
  margin-left: 1rem;
  margin-right: 2rem;
}

.seleziona-generi {
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 300px;
}

.margine-scheda {
  margin-top: -40px;
}

.scheda-cerca-un-oggetto {
  width: 100vw;
  max-width: 15rem;
}
.margine-destro-etichetta {
  margin-left: 14rem;
}

.titolo-modale-centrato {
  font-weight: bolder;
  margin-left: -30px;
  margin-top: 10px;
}

.modale-esci {
  font-size: large;
  margin: auto;
  height: 15vw;
  margin-top: 5vw;
}

.confirm-exit {
  min-width: 10rem;
  margin-bottom: 22rem;
}

.card-object {
  background-color: #0054e9;
  position: fixed;
  max-width: 19rem;
}

.background-app {
  background-color: #0054e9;
}

.label-autori-icona {
  width: 20px;
  height: 20px;
}
