.icone-aggiungi-oggetto-modified {
  width: 45px;
  height: 30px;
  margin-right: 10px;
  //margin-left: 1rem
}

.icone-aggiungi-oggetto {
  width: 30px;
  height: 30px;
  margin-right: 10px; //margin-left: 1rem;
}

.bottone-crud {
  margin-top: 1rem;
  min-width: 12vw;
  max-width: 10rem;
  border-radius: 15px;
  color: aliceblue;
  margin-right: 0.5rem;
}

.tasto-torna-indietro {
  margin-top: 1rem;
  min-width: 8vw;
  max-width: 4rem;
}

.move-to-left {
  flex: -moz-available;
}

.immagine-anteprima {
  border-radius: 10px;
  max-height: 400px;
  margin-left: 5vw;
  margin-top: 2vh;
  margin-bottom: 2rem;
}

.titolo {
  max-width: 43vw;
  margin-right: 1rem;
}

.btn-green {
  background-color: yellowgreen;
}
.btn-red {
  background-color: red;
}
.margine-sx {
  margin-left: 3rem;
}
.icona-disponibile {
  padding-right: 1rem;
  max-width: 40px;
}
