.icone-aggiungi-oggetto-modified {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    margin-left: 1rem
  }

  .icone-aggiungi-oggetto {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
  }